/* Global custom properties */
:root {
  --primary-gradient-cone: conic-gradient(
    from 0deg at 80% -20%,
    #cc414f,
    #cf425f,
    #cd4e87,
    #b669b8,
    #8786d9,
    #4f9de3,
    #28aadf,
    #1eaedb
  );
  --primary-gradient-linear: linear-gradient(
    90deg,
    #8786d9,
    #8d83d7,
    #9b7bcf,
    #ac70c1,
    #bc63b0,
    #c6589c,
    #cc518d,
    #cd4e87
  );
  --primary-gradient-linear-reversed: linear-gradient(
    90deg,
    #cd4e87,
    #cc518d,
    #c6589c,
    #bc63b0,
    #ac70c1,
    #9b7bcf,
    #8d83d7,
    #8786d9
  );
  --color-primary: #8786d9;
  --color-primary-action: #b669b8;
  --color-secondary: #1eaedb;
  --color-secondary-action: #4f9de3;
  --color-attention: #cc414f;
  --color-text: #222222;
  --color-text-inverse: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* NOTE
html is set to 62.5% so that all REM measurements are based on 10px sizing. Example: 1.5rem = 15px */
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 5.25rem;
  font-weight: 400;
  font-family: "IBM Plex Sans", "HelveticaNeue", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: var(--color-text);
  background: var(--primary-gradient-cone);
  box-sizing: border-box;
}

code,
kbd,
pre,
samp {
  font-family: "IBM Plex mono", monospace;
}

::selection {
  color: var(--color-text-inverse);
  background: #837aee; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #ffffff;
  background: #837aee; /* Gecko Browsers */
}

/* Screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@media (min-width: 1000px) {
  body {
    font-size: 2.25rem;
  }
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Larger than desktop */
@media (min-width: 1000px) {
  a {
    display: inline-block;
    background: linear-gradient(
      to bottom,
      var(--color-primary) 0%,
      var(--color-primary) 100%
    );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 4px;
    padding: 0.25em 0.1em;
    color: #333333;
    text-decoration: none;
    border-radius: 3px;
    transition: background-size 0.4s, color 0.6s, box-shadow 0.4s, padding 0.4s;
  }

  a:hover {
    color: var(--color-text-inverse);
    background-size: 4px 50px;
    box-shadow: 0 8px 6px -6px black;
  }
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ol {
  font-weight: bold;
}

ol,
ul {
  list-style-position: inside;
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

ol li p,
ul li p,
li pre {
  font-weight: normal;
}

li {
  margin-bottom: 1rem;
}

li img {
  display: block;
  margin-top: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
    margin-top: calc(100px + 2em);
    margin-left: calc(300px + 1em);
    max-width: 1000px;
  }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* 
Credit: My progressive and accessible navigation is adapted from Mark Caron's "Mega Menu Exploration" on CodePen.
https://codepen.io/markcaron/pen/VgGJRW
*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 1em;
  height: 100px;
  background: rgba(0, 0, 0, 0.9);
  color: #fff;
  z-index: 5;
}

header .header-right {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0;
  height: 100%;
}

.logo p {
  margin: 0;
}

header a.social-icon {
  display: flex;
  align-items: center;
  color: var(--color-text-inverse);
  width: 1.5em;
  margin-right: 1em;
  border-radius: 3px;
}

header a.social-icon:hover {
  background-size: 4px 60px;
}

header .social-icon svg {
  fill: currentColor;
}

@media screen and (min-width: 100px) {
  header {
    height: 75px;
    font-size: 3rem;
  }

  header a.social-icon:hover {
    background-size: 4px 80px;
  }
}

.has-js-loaded .nav-toggle {
  display: block;
}

.has-js-loaded .nav-wrapper.noshow {
  display: none;
}

/* >>> Nav toggle start */
.nav-toggle {
  display: none;
  margin-left: auto;
  padding: 0.2rem 1rem 0.3rem;
  border: 0;
  border-top: 0.25rem solid transparent;
  background: none;
  color: #fff;
  font-weight: 500;
  line-height: 1rem;
  transition: border-top-color 250ms ease-out;
}

.nav-toggle[aria-expanded="true"] {
  background: rgba(255, 255, 255, 0.1);
}

.nav-toggle[aria-expanded="true"] span {
  display: block;
}

.nav-toggle[aria-expanded="true"]:hover,
.nav-toggle[aria-expanded="true"]:focus {
  color: var(--color-primary);
}

.nav-toggle[aria-expanded="true"]:active {
  color: var(--color-primary-action);
}

@media screen and (min-width: 1000px) {
  .has-js-loaded .nav-toggle {
    display: none;
  }
}

/* <<< Nav toggle end */

/* >>> Main nav start */
.nav-main {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: calc(100vh - 100px);
  background: rgba(0, 0, 0, 0.75);
}

.nav-main > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.nav-main > ul > li {
  margin: 0;
}

.nav-main > ul > li > a {
  display: block;
  padding: 1em;
  color: var(--color-text-inverse);
  line-height: 1em;
  text-decoration: none;
}

.nav-main > ul > li > a:hover,
.nav-main > ul > li > a:focus {
  color: var(--color-primary);
}

.nav-main > ul > li.has-subnav > a {
  display: flex;
  align-items: center;
}

.nav-main > ul > li.has-subnav > a::after {
  content: "";
  display: block;
  margin-left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-right: 0.094em solid var(--color-text-inverse);
  border-bottom: 0.094em solid var(--color-text-inverse);
  transform: rotate(-45deg) translate(0, 0);
  transition: transform 0.3s;
}

.nav-main > ul > li.has-subnav > a[aria-expanded="true"]::after {
  transform: rotate(45deg) translate(0.15rem, -0.25rem);
}

/* Larger than desktop */
@media (min-width: 1000px) {
  header {
    align-items: baseline;
  }

  header.has-js-loaded .nav-wrapper.noshow {
    display: block;
  }

  .nav-main {
    position: fixed;
    top: calc(100px + 2em);
    left: 0;
    height: calc(100vh - 100px);
    width: 300px;
    background: none;
  }

  .nav-main > ul {
    width: 300px;
  }

  .nav-main a,
  .nav-main > ul > li > a {
    position: relative;
    display: inline-block;
    color: var(--color-text-inverse);
    width: 100%;
    background: var(--primary-gradient-linear);
    background-position: 0 100%;
    background-repeat: no-repeat;
    background-size: 0%;
    box-shadow: none;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background-size 0.35s;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .nav-main a:hover {
    background-size: 100%;
    color: var(--color-text-inverse);
  }

  .nav-main > ul > li > a:hover,
  .nav-main > ul > li > a:focus {
    color: var(--color-text-inverse);
  }

  .nav-main a::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 13px;
    left: auto;
    width: 0;
    height: initial;
    top: 0;
    opacity: 0;
    max-width: 300px;
    transition: box-shadow 1s, opacity 0.75s;
    border: none;
  }

  .nav-main a:hover::after {
    opacity: 1;
    width: 70%;
    -webkit-box-shadow: 0 15px 13px #222;
    -moz-box-shadow: 0 15px 13px #222;
    box-shadow: 0 15px 13px #222;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }
}

/* <<< Main nav end */

/* >>> Subnav start */
.subnav {
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13.75em, 1fr));
  grid-template-rows: auto;
  grid-gap: 1em;
  background: rgba(0, 0, 0, 0.5);
}

.subnav h3 {
  margin: 0;
  font-weight: 400;
}

.subnav h3 a {
  color: var(--color-text-inverse);
  text-decoration: underline;
}

.subnav h3 a:hover,
.subnav h3 a:focus {
  color: var(--color-primary);
}

.subnav ul {
  margin: 0;
  margin-left: 1em;
  padding: 0;
  list-style: disc;
}

.subnav ul li {
  margin-top: 1em;
}

.subnav a {
  color: var(--color-text-inverse);
  text-decoration: none;
}

.subnav a:hover,
.subnav a:focus {
  color: var(--color-primary);
  text-decoration: underline;
}

.subnav[hidden],
.subnav.noshow {
  display: none !important;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .subnav {
    position: relative;
    padding: 0;
    grid-gap: 0;
    margin-bottom: 1em;
    background: none;
  }

  .subnav section {
    width: calc(300px - 1em);
    margin-left: 1em;
    border-left: 1px solid #ffffff;
  }

  .subnav h3 {
    display: inline-block;
    width: 100%;
    font-size: 2.25rem;
  }

  .subnav h3 a {
    display: inline-block;
    text-decoration: none;
  }

  .nav-main > ul > li.has-subnav > a::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 13px;
    right: 13px;
    left: auto;
    width: 0;
    height: initial;
    top: 0;
    opacity: 0;
    max-width: 300px;
    transition: box-shadow 1s, opacity 0.75s;
    border: none;
  }

  .nav-main > ul > li.has-subnav > a:hover::after {
    opacity: 1;
    width: 70%;
    -webkit-box-shadow: 0 15px 13px #222;
    -moz-box-shadow: 0 15px 13px #222;
    box-shadow: 0 15px 13px #222;
    -webkit-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -o-transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    transform: rotate(7deg);
  }

  /* .nav-main > ul > li .subnav a {
    width: calc(100% - 4em);
  } */

  .nav-main > ul > li .subnav a::after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 10px;
    right: 10px;
    left: auto;
    width: 0;
    height: initial;
    top: 0;
    opacity: 0;
    max-width: 300px;
    transition: box-shadow 1s, opacity 0.75s;
    border: none;
  }

  .nav-main > ul > li .subnav a:hover::after {
    opacity: 1;
    width: 70%;
    -webkit-box-shadow: 0 15px 10px #222;
    -moz-box-shadow: 0 15px 10px #222;
    box-shadow: 0 15px 10px #222;
    -webkit-transform: rotate(4deg);
    -moz-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    -ms-transform: rotate(4deg);
    transform: rotate(4deg);
  }

  .subnav a:hover,
  .subnav a:focus,
  .subnav h3 a:hover,
  .subnav h3 a:focus {
    color: var(--color-text-inverse);
    text-decoration: none;
  }

  .subnav ul {
    display: none;
  }
}
/* <<< Subnav end */

/* Content styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
  max-width: calc(100% - 1em);
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 120px auto;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .content {
    width: 70%;
    max-width: 800px;
    margin: 0;
  }
}

.content h2,
.content h3 {
  margin-top: 1em;
}

.content section:first-child h2 {
  margin-top: 0;
}

.content section:not(:last-child) {
  border-bottom: 1px solid var(--color-text);
  padding-bottom: 1em;
}

/* Images */
img.inline {
  display: inline-block;
  vertical-align: bottom;
  height: 1.3em;
}

/* Home section */
.home img {
  float: left;
  width: 100%;
  border-radius: 3px;
  margin-right: 1em;
  margin-bottom: 1em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.home p:first-of-type {
  margin-top: 0;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .home img {
    float: left;
    width: 300px;
    min-width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .home p:first-of-type {
    margin-top: initial;
  }
}

/* Samples section */
.user-docs,
.dev-docs,
.redesigns {
  position: relative;
  padding: 0.25em 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.user-docs > * {
  position: relative;
  z-index: 2;
}

.user-docs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 1;
}

.user-docs ul,
.dev-docs ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.user-docs ul li,
.dev-docs ul li {
  position: relative;
  min-width: 300px;
  border: 1px solid var(--color-text);
  border-radius: 3px;
  height: 100%;
  margin-bottom: 1em;
}

.sample-title {
  position: relative;
  margin: 0;
  padding: 10px 0.5em;
  color: var(--color-text-inverse);
  background: rgba(0, 0, 0, 0.75);
}

.sample-wrapper {
  background: var(--primary-gradient-cone);
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sample-image-container {
  height: 400px;
}

.sample-image-container .pending {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: var(--color-text-inverse);
  background-color: #837aee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
}

.sample-image {
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0.4;
  object-fit: cover;
  object-position: top;
}

.sample-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

details.item-details {
  position: relative;
  transition: background 0.5s;
  padding: 0.25em 0.5em;
  color: var(--color-text-inverse);
  background: rgba(0, 0, 0, 0.75);
}

details.item-details summary {
  display: inline;
  list-style: none;
  cursor: pointer;
}

details.item-details summary p {
  display: inline;
  margin: 0;
}

details.item-details summary:hover p,
details.item-details summary:hover::before {
  opacity: 0.7;
}

details.item-details summary::before {
  content: " +";
  font-size: 6rem;
}

details.item-details[open] summary::before {
  content: " —";
}

/* Larger than desktop */
@media (min-width: 1000px) {
  details.item-details summary::before {
    font-size: 2rem;
  }
}

details.item-details summary a {
  float: right;
  color: var(--color-text-inverse);
  text-align: center;
  padding: 0 0.25em;
  margin-right: 0.25em;
}

details.item-details > p,
details.item-details > ul {
  position: absolute;
  top: 100%;
  left: 0;
  color: var(--color-text);
  margin-top: 0;
  padding: 0.25em 0.5em;
  background: var(--color-secondary);
  background-color: var(--color-text-inverse);
  border: 1px solid var(--color-text);
  z-index: 2;
  box-shadow: 0 8px 6px -6px black;
}

details.item-details > ul {
  list-style: none;
  margin: 0;
}

details.item-details[open] summary ~ * {
  animation: open 0.2s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  25% {
    opacity: 0.25;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  75% {
    opacity: 0.75;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .user-docs ul,
  .dev-docs ul {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .user-docs ul li,
  .dev-docs ul li {
    width: calc(50% - 1em);
    margin: 1em 0.25em;
  }

  .sample-image-container {
    height: 200px;
  }
}

/* Web projects section */
.redesign-site-list {
  list-style: none;
  margin: 0;
}

.redesign-site-list li .description {
  margin-top: 1em;
}

.redesigns > * {
  position: relative;
  z-index: 2;
}

.redesigns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 1;
}

.redesign-site-list .sample-image-container,
.site-list .sample-image-container {
  height: 400px;
}

.redesign-site-list .sample-image,
.site-list .sample-image {
  opacity: 1;
}

/* Slider styles */
.redesign-site-list .image-container {
  width: 90vw;
  height: 90vw;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .redesign-site-list .image-container {
    width: 65vw;
    height: 65vw;
    max-width: 650px;
    max-height: 650px;
  }
}

.redesign-site-list .image-container figure {
  background-image: url(/images/sites/support-site-before.png);
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.redesign-site-list .image-container figure > img {
  position: relative;
  width: 100%;
}

.redesign-site-list .image-container figure div {
  background-image: url(/images/sites/support-site-after.png);
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 50px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:active {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 45px;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  outline: none;
}

input[type="range"]::active {
  border: none;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 45px;
  background: #fff;
  border-radius: 0;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 30px;
  height: 45px;
  background: #fff;
  border-radius: 0;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.5);
}

input[type="range"]:focus::-moz-range-thumb {
  background: rgba(255, 255, 255, 0.5);
}
