/* NOTE
html is set to 62.5% so that all REM measurements are based on 10px sizing. Example: 1.5rem = 15px */

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  font-family: "IBM Plex Sans", "HelveticaNeue", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  color: #222;
  background: conic-gradient(
    from 0deg at 50% -10%,
    #db1eae,
    #d235bb,
    #b559d7,
    #837aee,
    #4392f4,
    #00a2eb,
    #03abe0,
    #1eaedb
  );
  box-sizing: border-box;
}

code,
kbd,
pre,
samp {
  font-family: "IBM Plex mono", monospace;
}

::selection {
  color: #ffffff;
  background: #837aee; /* WebKit/Blink Browsers */
}
::-moz-selection {
  color: #ffffff;
  background: #837aee; /* Gecko Browsers */
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  margin-top: 0;
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  margin-top: 8rem;
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  margin-top: 6rem;
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 4.2rem;
  }
  h3 {
    font-size: 3.6rem;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2.4rem;
  }
  h6 {
    font-size: 1.5rem;
  }
}

p {
  margin-top: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  display: inline-block;
  background: linear-gradient(to bottom, #0fa0ce 0%, #0fa0ce 100%);
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #333333;
  text-decoration: none;
  border-radius: 3px;
  transition: background-size 0.4s, color 0.6s, box-shadow 0.4s, padding 0.4s,
    margin 0.4s;
}

a:hover {
  color: #ffffff;
  background-size: 4px 50px;
  box-shadow: 0 8px 6px -6px black;
  padding: 0 0.25em;
  margin: 0 -0.25em;
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ol {
  font-weight: bold;
}

ol,
ul {
  list-style-position: inside;
  padding-left: 0;
  margin-top: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}

ol li p,
ul li p,
li pre {
  font-weight: normal;
}

li {
  margin-bottom: 1rem;
}

li p {
  display: inline;
}

li img {
  display: block;
  margin-top: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: 0.2rem 0.5rem;
  margin: 0 0.2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}

pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre-wrap;
}

/* Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 1;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .wrapper {
    flex-direction: row;
    margin-top: 3em;
  }
}

/* Header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body > header {
  display: flex;
  padding: 1em;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
}

header h1 {
  margin: 0;
  color: #ffffff;
}

/* TOC
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.toc {
  position: sticky;
  top: 0;
  padding-right: 1em;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  overflow-x: auto;
}

.toc ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .toc {
    top: 1em;
    width: 30%;
    height: calc(100vh - 200px);
    background: none;
    overflow-x: hidden;
  }

  .toc ul {
    flex-direction: column;
  }
}

.toc a {
  display: inline-block;
  color: #ffffff;
  width: 100%;
  background: linear-gradient(
    90deg,
    #03abe0,
    #00a2eb,
    #4392f4,
    #837aee,
    #b559d7,
    #d235bb,
    #db1eae
  );
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: 0%;
  text-decoration: none;
  transition: background-size 0.5s, box-shadow 0.75s;
  padding: 0.5em 1em;
  box-shadow: none;
  border-radius: 0;
}

.toc a:hover {
  background-size: 100%;
  margin: 0;
  box-shadow: 0 8px 6px -6px black;
}

.toc li[data-level="2"] a,
.toc li[data-level="3"] a {
  display: none;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .toc li[data-level="2"] a,
  .toc li[data-level="3"] a {
    display: list-item;
    border-left: 1px solid #ffffff;
  }
}

.toc ul {
  list-style-type: none;
  margin: 0;
}

.toc ul.toc-list > li {
  margin-left: 0;
  margin-top: 1em;
}

.toc li {
  margin: 0;
  margin-left: 1em;
  line-height: 1.3em;
}

.toc > li:last-child {
  margin-bottom: 1em;
}

/* Content styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.content {
  max-width: 800px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 3px;
  padding: 2em 1em;
  margin: 2em auto;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .content {
    width: 70%;
    margin: 0;
    margin-left: 1em;
  }
}

.content h2,
.content h3 {
  margin-top: 1em;
}

.content section:first-child h2 {
  margin-top: 0;
}

.content section:not(:last-child) {
  border-bottom: 1px solid #222222;
  padding-bottom: 1em;
}

/* Images */
img.inline {
  display: inline-block;
  vertical-align: bottom;
  height: 1.3em;
}

/* Home section */
.home img {
  float: left;
  width: 300px;
  min-width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 3px;
  margin-right: 1em;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Samples section */
.user-docs,
.dev-docs,
.redesigns {
  position: relative;
  padding: 0.25em 1em;
  margin-left: -1em;
  margin-right: -1em;
}

.user-docs > * {
  position: relative;
  z-index: 2;
}

.user-docs::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 1;
  background: conic-gradient(
    from 180deg at 50% 110%,
    #dae0fb,
    #cccefc,
    #c5baf9,
    #c3a5f3,
    #c78de9,
    #cd72da,
    #d452c7,
    #db1eae
  );
}

.user-docs ul,
.dev-docs ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  grid-template-rows: 400px;
  grid-gap: 0.5em;
  list-style-type: none;
}

.user-docs ul li,
.dev-docs ul li {
  position: relative;
  border: 1px solid #222;
  border-radius: 3px;
  height: 100%;
}

.sample-title {
  position: relative;
  height: 180px;
  margin: 0;
  padding: 10px 0.5em;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
}

.sample-wrapper {
  background: conic-gradient(
    from 0deg at 50% -10%,
    #db1eae,
    #d235bb,
    #b559d7,
    #837aee,
    #4392f4,
    #00a2eb,
    #03abe0,
    #1eaedb
  );
  height: 200px;
  border-radius: 3px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.sample-image-container {
  height: 80%;
}

.sample-image-container .pending {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #ffffff;
  background-color: #837aee;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin: 0;
}

.sample-image {
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0.4;
  object-fit: cover;
  object-position: top;
}

.sample-footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.75);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.item-details a {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  color: #ffffff;
  text-align: center;
}

details.item-details {
  position: relative;
  transition: background 0.5s;
  padding: 0.25em 0.5em;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.75);
}

details.item-details summary {
  display: inline;
  list-style: none;
  cursor: pointer;
}

details.item-details summary p {
  margin: 0;
}

details.item-details summary:hover p,
details.item-details summary:hover::before {
  opacity: 0.7;
}

details.item-details summary::before {
  content: " +";
}

details.item-details[open] summary::before {
  content: " —";
}

details.item-details summary a {
  float: right;
  padding-top: 0;
  padding-bottom: 0;
}

details.item-details > p,
details.item-details > ul {
  position: absolute;
  top: 100%;
  left: 0;
  color: #222;
  padding: 0.25em 0.5em;
  background: #1eaedb;
  background-color: #ffffff;
  border: 1px solid #222;
  z-index: 2;
  box-shadow: 0 8px 6px -6px black;
}

details.item-details > ul {
  list-style: none;
  margin: 0;
}

details.item-details[open] summary ~ * {
  animation: open 0.2s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  25% {
    opacity: 0.25;
    transform: translateY(0px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  75% {
    opacity: 0.75;
    transform: translateY(0px);
  }
  100% {
    opacity: 1;
  }
}

/* Web projects section */
.redesign-site-list {
  list-style: none;
  margin: 0;
}

.redesign-site-list li .description {
  margin-top: 1em;
}

.redesigns > * {
  position: relative;
  z-index: 2;
}

.redesigns::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  z-index: 1;
  background: conic-gradient(
    from 0deg at 50% -10%,
    #837aee,
    #8c89f2,
    #9798f5,
    #a2a7f7,
    #afb6f9,
    #bcc4fa,
    #cbd2fb,
    #dae0fb
  );
}

.redesign-site-list .description p,
.site-list .description p {
  display: inline-block;
}

.redesign-site-list .sample-image-container,
.site-list .sample-image-container {
  height: 400px;
}

.redesign-site-list .sample-image,
.site-list .sample-image {
  opacity: 1;
}

/* Slider styles */
.redesign-site-list .image-container {
  width: 80vw;
  height: 80vw;
  max-width: 800px;
  max-height: 800px;
  overflow: hidden;
}

/* Larger than desktop */
@media (min-width: 1000px) {
  .redesign-site-list .image-container {
    width: 70vw;
    height: 70vw;
    max-width: 700px;
    max-height: 700px;
  }
}

.redesign-site-list .image-container figure {
  background-image: url(/images/sites/support-site-before.png);
  background-size: cover;
  position: relative;
  font-size: 0;
  width: 100%;
  height: 100%;
  margin: 0;
}

.redesign-site-list .image-container figure > img {
  position: relative;
  width: 100%;
}

.redesign-site-list .image-container figure div {
  background-image: url(/images/sites/support-site-after.png);
  background-size: cover;
  position: absolute;
  width: 50%;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  bottom: 0;
  height: 100%;
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:active {
  outline: none;
}

input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 15px;
  width: 98%;
  background-color: rgba(255, 255, 255, 0.1);
  position: relative;
  outline: none;
}

input[type="range"]::active {
  border: none;
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
}

input[type="range"]::-moz-range-thumb {
  -moz-appearance: none;
  width: 20px;
  height: 15px;
  background: #fff;
  border-radius: 0;
}

input[type="range"]:focus::-webkit-slider-thumb {
  background: rgba(255, 255, 255, 0.5);
}

input[type="range"]:focus::-moz-range-thumb {
  background: rgba(255, 255, 255, 0.5);
}

/* Doc design section */
/* .doc-design {

} */

/* Resume section */
/* .resume {
  
} */

/* Contact section */
/* .contact {
  
} */
