/* http://paletton.com/#uid=7000u0k1Xqw4Fvi3tot56l+76k8 */

html, body {
    background-color: #FFFFFF;
    margin: .1em;
    font-family: "Montserrat", Helvetica, sans-serif;
    font-size: 110%;
    color: #4a4a4a;
    background-color: #f0f1f2;
}

h1, h2, h3, h4 {
    font-family: "Oswald", Helvetica, sans-serif;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
    margin: .7em 0 .4em 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

ul {
    background-color: #FFF;
    margin: 0;
    padding: 0;
    width: 100%;
}

li {
    list-style-type: none;
}
/* --> Begin CSS grid layouts and definitions */

.wrapper {
    display: grid;
    grid-template-areas:
    "header"
    "content";
}

    .content {
        grid-area: content;
        display: grid;
        grid-gap: 5px;
        margin: 0 5px 0 5px;
        grid-template-areas:
        "gaalsien coalition";
    }

        .gaalsien {
            grid-area: gaalsien;
            display: flex;
            flex-direction: column;
            background-color: #AA3939;
            padding-bottom: 10px;
            border-radius: .4em;
        }

            .unit-stats {
                display: grid;
                flex-direction: row;
                grid-gap: 5px;
                margin: 0 10px 0 10px;
                grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
            }

        .coalition {
            grid-area: coalition;
            display: flex;
            flex-direction: column;
            background-color: #226666;
            padding-bottom: 10px;
            border-radius: .4em;
        }

/* End CSS grid layouts and definitions <-- */

.header {
    grid-area: header;
    margin: 0;
}

    .header > figure {
        margin: 0;
    }

    .header > figure > img {
        width: 100%;
        height: 100%;
        max-height: 250px;
        object-fit: cover;
    }

    .header > figure > figcaption {
        position: absolute;
        top: 10%;
        left: 20px;
        background-color: rgba(255, 255, 255, 0.61);
        padding: 0 10px 0 10px;
        border-radius: .4em;
    }

        .title {
            font-size: 2.5em;
            margin: 20px;
            color: #4a4a4a;
        }

.unit-info {
    margin: 0 10px 0 10px;
}

    .unit-image {
        position: relative;
    }

        .unit-image > img {
            width: 100%;
            height: 100%;
            min-height: 250px;
            max-width: 600px;
            object-fit: cover;
            border-radius: .4em;
        }

        .unit-image > figcaption {
            position: absolute;
            bottom: 10px;
            left: 5px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: .4em;
        }

            .unit-image > figcaption > h3 {
                margin: 0;
                padding: 0 5px 0 5px;
            }

        .stat {
            display: grid;
            grid-template-areas:
            "stat-title stat-title"
            "stat-value stat-eval";
            align-items: center;
            background-color: rgba(255, 255, 255, 0.85);
            padding: 2px 4px 2px 4px;
            border-radius: .2em;
        }

            .stat-title {
                grid-area: stat-title;
                font-size: .8em;
            }

            .stat-value {
                grid-area: stat-value;
                font-size: .85em;
                text-align: center;
            }

            .stat-eval {
                grid-area: stat-eval;
                font-size: 1.2em;
                text-align: center;
            }

        .unit-description {
            background-color: rgba(255, 255, 255, 0.85);
            padding: 2px 12px 2px 12px;
            margin: 10px 10px 0px 10px;
            font-size: .9em;
            border-radius: .2em;
        }

.list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    cursor: pointer;
    margin-top: 10px;
    transition: all .3s ease;
}

    .list-grid li {
        margin: 0 5px 0 5px;
    }

    .gal-list-grid li:hover {
        font-weight: 400;
        background-color: #AA3939;
    }

    .col-list-grid li:hover {
        font-weight: 400;
        background-color: #226666;
    }

    .list-image {
        position: relative;
        margin: 10px 0 10px 0;
    }

        .list-image > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: .4em;
        }

            .list-image > img:hover {
                opacity: .8;
            }

        .list-image > figcaption {
            position: absolute;
            text-align: center;
            bottom: 0;
            width: 100%;
            padding: 5px 0 10px 0;
            background-color: rgba(255, 255, 255, 0.8);
        }

        .list-image h5 {
            margin: 0;
            padding: 0 10px 0 10px;
        }

.coalition-select-menu-a, .coalition-select-menu-b, .gaalsien-select-menu-a, .gaalsien-select-menu-b {
    display: flex;
    align-items: baseline;
    margin: 0 10px 0 10px;
    border-bottom: solid 3px #f0f1f2;
    cursor: pointer;
    color: #f0f1f2;
}

    .coalition-select-menu-a:after, .gaalsien-select-menu-a:after {
        content: '\00BB';
        padding-left: 10px;
        font-size: 2em;
        font-weight: bolder;
        color: #f0f1f2;
    }

    .coalition-select-menu-b:after, .gaalsien-select-menu-b:after {
        content: '\00AB';
        padding-left: 10px;
        font-size: 2em;
        font-weight: bolder;
        color: #f0f1f2;
    }

[v-cloak] {
    display: none;
}

/* Transitions */

.fade-enter-active, .fade-leave-active {
    transition: opacity .3s ease;
}

.fade-enter-to, .fade-leave {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .6s ease;
}

.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter {
    transform: translateX(10px);
    opacity: 0;
}

.slide-fade-leave {
    transform: translateX(-10px);
    opacity: 0;
}

.vertical-fade-enter-active {
    transition: all .6s ease;
}

.vertical-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.vertical-fade-enter {
    transform: translateX(0, 10px);
    opacity: 0;
}

.vertical-fade-leave {
    transform: translateX(0, -10px);
    opacity: 0;
}

/* Font Awesome styling */
.icon-green {
    color: #2D882D;
}

.icon-red {
    color: #AA3939
}

.icon-blue {
    color: #226666
}

/* Footer styling */
.footer {
    border: solid 3px #4a4a4a;
    border-radius: .5em;
    width: 100%;
    margin-top: 5px;
}

.footer-content {
    margin: 10px;
}

.footer-content h4 {
    margin: 0;
    font-size: .9em;
}

.footer-content p {
    margin: 0;
    font-size: .7em;
}

.footer-content a, .footer-content a:visited {
    color: #098C09;
    text-decoration: none;
}

.footer-content a:hover {
    color: #D46F1C;
}
