html, body {
    height: 100%;
    margin: 10px;
    font-family: "Roboto", Helvetica, sans-serif;
    font-size: 110%;
    color: #4a4a4a;
}

h1, h2, h3, h4 {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

h1 { font-size: 1.4em; }

h2 { font-size: 1.3em; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

a:link, a:visited {
	color: #294C5D;
	text-decoration: none;
}

a:hover, a:visited:hover {
	color: #B87462;
}
/* <--- End page setup. */

/* Grid area definitions ---> */
.wrapper {
display: grid;
grid-gap: 10px;
grid-template-areas:
"header"
"content";
}

    .main-head {
    	grid-area: header;
        display: grid;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        border-bottom: solid 1px #294C5D;
        grid-template-areas:
        "logo   menu"
        "banner contactIcons";
    }


/* Banner styling ---> */
.banner {
    grid-area: banner;
    display: flex;
    flex-direction: column;
}

.banner a:hover {
	text-decoration: none !important;
}

.logo {
    grid-area: logo;
    display: flex;
    font-size: 1.7em;
    margin: 5px 0 5px 10px;
}

.logo-outer {
    color: #294C5D;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

#logo-inner {
    color: #B87462;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}
/* <--- End banner styling */

/* Nav menu styling ---> */

.menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    cursor: pointer;
    padding-top: 5px;
    justify-content: center;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #4a4a4a;
    margin: 3px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.nav-list {
    margin-left: 10px;
}

.nav-list li {
    list-style-type: none;
}

.social-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.nav-list, .social-list {
    list-style-type: none;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

.social-media {
    font-size: 1.3em;
    padding: 5px 10px 5px 10px;
}

.main-head a {
    display: flex;
    height: 100%;
}

.nav-list a:hover, .social-list a:hover {
    color: #B87462 !important;
    font-size: 1.125em;
	opacity: 1;
}

.main-head a:link, .main-head a:visited {
    color: #294C5D;
	text-decoration: none;
}

.contact-icons {
    grid-area: contactIcons;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.material-icons.md-36 {
    font-size: 36px;
}

/* <--- End nav menu styling */

[v-cloak] {
    display: none;
}
