/* Being page setup. ---> */
html, body {
  background-color: #FFFFFF;
  margin: 10px;
  font-family: Roboto, Helvetica, sans-serif;
}

h1, h2, h3, h4 {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

a:link {
	color: #313865;
	text-decoration: none;
}

a:hover {
	color: #B87462;
	text-decoration: underline;
}

a:visited {
	color: #4B517F;
}

a:visited:hover {
	color: #B87462;
}

/* Mobile view */
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
	"header"
	"content"
	"footer";
}
/* <--- End page setup. */

/* Grid area definitions ---> */
.main-head {
	grid-area: header;
    display: flex;
    align-items: center;
}

.content {
	grid-area: content;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "aboutMe"
    "samples"
    "workHistory";
	margin: 0 20px 5px 20px;
}

    .aboutMe {
        grid-area: aboutMe;
        grid-column: 1 / -1;
    }

    .samples {
        grid-area: samples;
        display: grid;
        grid-template-columns: 1fr .25fr .25fr;
        grid-template-areas:
        "techWriting docDesign pubContent";
    }

        .techWriting {
            grid-area: techWriting;
        }

            .sampleTech {
                display: grid;
                grid-gap: 40px;
                grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
                grid-auto-rows: 100px;
                grid-auto-flow: dense;
                display: none;
            }

        .docDesign {
            grid-area: docDesign;
        }

            .sampleDesign {
                display: grid;
                grid-gap: 40px;
                grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
                grid-auto-rows: 100px;
                grid-auto-flow: dense;
                display: none;
            }

        .pubContent {
            grid-area: pubContent;
        }

            .sampleArticles {
                grid-area: sample;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 600px));
                grid-auto-flow: row;
                display: none;
            }

    .workHistory {
        grid-area: workHistory;
        grid-column: 1 / -1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
          "empMatrix empMatrix"
    }

        .empMatrix {
            grid-area: empMatrix;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
            grid-auto-rows: 256px;
            padding: 20 10 20 10;
        }

            .empBox {
                display: grid;
                grid-template-columns: minmax(150px, .5fr) minmax(300px, 1fr) 40px;
                grid-gap: 5px;
            }

.main-footer {
	grid-area: footer;
	display: flex;
	justify-content: center;
	background-color: #FFEDE8;
	border-top: 1px solid #B87462;
    border-bottom: 1px solid #B87462;
}
/* <--- End grid area definitions */

/* Footer styling --->*/

.socialList {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    align-items: stretch;
    margin: 0 0 0 0;
    padding: 0px;
}

.socialList a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    padding: 5px;
	opacity: .7;
    width: 30%;
    margin: 10 20 10 20;
    border-left: 1px solid #B87462 !important;
    border-right: 1px solid #B87462 !important;
}

.socialList a:hover {
    background-color: #294C5D;
    color: #FFEDE8 !important;
    font-size: 30px;
    opacity: 1;
    margin: -5 0 -5 0;
}

.main-footer a:link, .main-footer a:visited {
    color: #294C5D;
	text-decoration: none;
}

.socialMedia {
    width: 42px !important;
}

/* <--- End footer styling */

/* Nav menu styling ---> */
.nav-list {
    display: flex;
    list-style-type: none;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    height: 100%;
	font-size: 24px;
    align-items: stretch;
    margin: 0 5 0 5;
    padding: 0px;
}

.nav-list a {
    display: flex;
    text-align: center;
    height: 100%;
    padding: 0 15 0 15;
	opacity: .7;
    border-right: 2px solid #B87462 !important;
}

.nav-list a:hover {
    color: #294C5D !important;
    font-size: 30px;
	opacity: 1;
    margin: -5 0 -5 0;
}

.main-nav a:link, .main-nav a:visited {
    color: #294C5D;
	text-decoration: none;
}
/* <--- End nav menu styling */

/* Banner styling ---> */
.banner {
    display: flex;
    align-items: baseline;
}

.glyph {
    display: flex;
    align-items: baseline;
    font-size: 3em;
    border-right: 4px solid #B87462;
    padding: 0 30 0 0;
}

.glyphOuter {
    color: #294C5D;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

#glyphInner {
    color: #B87462;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}
/* <--- End banner styling */

/* Begin techWriting, docDesign, and pubContent styling ---> */
.techWritingOverlay {
    width: 100%;
    min-height: 500px;
    font-size: 24px;
    padding: 10px;
    background-color: lightgreen;
}

    .techExpand {
        grid-template-columns: 1fr .25fr .25fr !important;
        transition: 1s ease;
    }

    .designExpand {
        grid-template-columns: .25fr 1fr .25fr !important;
        transition: 1s ease;
    }

    .pubExpand {
        grid-template-columns: .25fr .25fr 1fr !important;
        transition: 1s ease;
    }

.docDesignOverlay {
    width: 100%;
    min-height: 500px;
    font-size: 24px;
    padding: 10px;
    background-color: lightblue;
}

.pubContentOverlay {
    width: 100%;
    min-height: 500px;
    font-size: 24px;
    padding: 10px;
    background-color: grey;
}

.expandButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-right: 30px;
    height: 500px;
    float: right;
}

.expandText {
    font-weight: bold;
}

.expandChevron {
    font-size: 100px;
    line-height: 100px;
}

.docItem {
	position: relative;
    width: 100%;
    max-width: 300px;
}

.docItem:hover .docItemOverlay {
	opacity: 1;
}

.docItemOverlay {
	position: absolute;
    bottom: 0;
	height: 33%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75); /* Black see-through */
    color: #f1f1f1;
	width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: .75em;
    text-align: center;
}

.vertical {
	grid-row: span 2;
	grid-column: span 1;
}

.horizontal {
	grid-row: span 2;
	grid-column: span 3;
}

a > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
	border: 1px solid black;
}
/* <--- End techWriting, docDesign, and pubContent styling */

/* Begin workHistory styling ---> */
.empName {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "IBM Plex Sans", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 28px;
	font-weight: bold;
	color: white;
	border-right: 5px solid white;
}

.jobBox {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.jobDesc {
	position: absolute;
	bottom: 0;
	opacity: 1;
	height: 80%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.75); /* Black see-through */
	color: #f1f1f1;
	transition: 1s ease;
	color: white;
	font-size: 1em;
}

.jobDesc p,h4 {
	margin-left: 10px;
}

.hide {
	opacity:0;
	height: 1%;
}

.jobTitle {
	display: flex;
	align-items: center;
	font-family: "IBM Plex Sans", Helvetica, sans-serif;
	font-size: 24px;
	font-weight: bold;
	margin-left: 10px;
	height: 100%;
	width: 100%;
}

.titleMove {
	position: relative;
	height: 20%;
	top: 0;
	transition: height 1s ease;
}

.jobRevealButton {
	font-size: 1.5em;
	cursor: pointer;
	border: none;
	background-color: transparent;
	padding: 0;
	outline: none;
}

.jobRevealButton:hover {
	font-size: 2em;
}

.empMatrix > div:nth-child(1n) {
  background-color: #96ceb4;
}

.empMatrix > div:nth-child(2n) {
      background-color: #ff6f69;
}

.empMatrix > div:nth-child(3n) {
  background-color: #88d8b0;
}

.empMatrix > div:nth-child(4n) {
      background-color: #ffcc5c;
}

/* <--- End workHistory styling */

.horizontalUL {
	display: flex;
	list-style-type: none;
}

.horizontalUL li {
    padding-right: 6px;
}


/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
