/* Being page setup. ---> */
html, body {
  margin: 10px;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 24px;
  color: #4a4a4a;
}

h1, h2, h3, h4 {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
}

h1 {
    font-size: 28px;
}

a:link {
	color: #313865;
	text-decoration: none;
}

a:hover {
	color: #B87462;
	text-decoration: underline;
}

a:visited {
	color: #4B517F;
}

a:visited:hover {
	color: #B87462;
}
/* <--- End page setup. */


@media (max-width: 1250px) {
    .resetRotation {
        transform: rotate(0deg) !important;
    }

    .rotate {
        font-size: 18px;
        transform: rotate(-90deg);
    }
}

/* Grid area definitions ---> */

/* Tier 1 structure */
.wrapper {
display: grid;
grid-gap: 10px;
grid-template-areas:
"header"
"content"
"footer";
}

/*-- Tier 2 structure */
    .main-head {
    	grid-area: header;
        display: flex;
        margin-left: 20px;
    }

    .content {
    	grid-area: content;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
        "aboutMe"
        "samples"
        "workPhilosophy"
        "workHistory"
        "contact";
    	margin: 0 20px 5px 20px;
        margin-top: 40px;
    }

/*----- Tier 3 structure */
        .aboutMe {
            grid-area: aboutMe;
            border-bottom: solid 4px #B87462;
            margin-top: 20px;
        }

        .samples {
            grid-area: samples;
            justify-self: center;
            display: flex;
            height: 100%;
            width: 105%;
        }

/*--------- Tier 4 structure */
            .pane {
                width: 80%;
                margin: 40 0 40 0;
                background-color: #E9E9E9;
                border-right: solid 2px #E9E9E9;
                cursor: pointer;
            }

/*------------- Tier 5 structure */
                #sampleTech {
                    grid-area: sampleContainer;
                    display: none;
                    margin-top: 20px;
                    grid-gap: 40px;
                    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                    grid-auto-rows: 100px;
                    grid-auto-flow: dense;
                }

                #sampleDesign {
                    grid-area: sampleContainer;
                    display: none;
                    margin-top: 20px;
                    grid-gap: 40px;
                    grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
                    grid-auto-rows: 100px;
                    grid-auto-flow: dense;
                }

                #sampleArticles {
                    grid-area: sampleContainer;
                    display: none;
                    margin-top: 20px;
                    grid-gap: 30px;
                    grid-template-columns: 1fr 1fr;
                    grid-auto-flow: row;
                }

        .workPhilosophy {
            grid-area: workPhilosophy;
            border-top: solid 4px #B87462;
            border-bottom: solid 4px #B87462;
        }

        .contact {
            grid-area: contact;
            border-top: solid 4px #B87462;
            border-bottom: solid 4px #B87462;
            margin-bottom: 40px;
        }

        .workHistory {
            grid-area: workHistory;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
              "empMatrix empMatrix";
            width: 100%;
        }

            .empMatrix {
                grid-area: empMatrix;
                justify-self: center;
                width: 100%;
                display: grid;
                grid-gap: 10px;
                grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
                grid-auto-rows: 256px;
                margin: 20 0 20 0;
                padding: 20 0 20 0;
            }

                .empBox {
                    display: grid;
                    grid-template-columns: minmax(150px, .5fr) minmax(300px, 1fr);
                    grid-gap: 5px;
                }

    .main-footer {
    	grid-area: footer;
    	display: flex;
    	justify-content: center;
        width: 100%;
        background-color: #FFFFFF;
        position: fixed;
        bottom: 0;
        left: 0;
        border-top: solid 1px #294C5D;
    }
/* <--- End grid area definitions */

/* Banner styling ---> */
.banner {
    display: flex;
    align-items: baseline;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10 0 10 20;
    background-color: #FFFFFF;
    border-bottom: solid 1px #294C5D;
}

.glyph {
    display: flex;
    align-items: baseline;
    font-size: 38px;
    border-right: 4px solid #B87462;
    padding: 0 30 0 0;
}

.glyphOuter {
    color: #294C5D;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

#glyphInner {
    color: #B87462;
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}
/* <--- End banner styling */

/* Nav menu styling ---> */
.nav-list {
    display: flex;
    list-style-type: none;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    height: 100%;
	font-size: 20px;
    align-items: stretch;
    margin: 0 5 0 5;
    padding: 0px;
}

.nav-list a {
    display: flex;
    text-align: center;
    height: 100%;
    padding: 0 15 0 15;
	opacity: .7;
    border-right: 2px solid #B87462 !important;
}

.nav-list a:hover {
    color: #294C5D !important;
    font-size: 24px;
	opacity: 1;
    margin: -5 0 -5 0;
}

.main-nav a:link, .main-nav a:visited {
    color: #294C5D;
	text-decoration: none;
}
/* <--- End nav menu styling */

/* Footer styling --->*/

.socialList {
    display: flex;
    list-style-type: none;
    font-size: 24px;
    align-items: stretch;
    margin: 0 0 0 0;
    padding: 0px;
}

.socialList a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    padding: 5px;
	opacity: .7;
    width: 30%;
    margin: 10 20 10 20;
    border-left: 1px solid #B87462 !important;
    border-right: 1px solid #B87462 !important;
}

.socialList a:hover {
    background-color: #294C5D;
    color: #FFEDE8 !important;
    font-size: 30px;
    opacity: 1;
    margin: -5 0 -5 0;
}

.main-footer a:link, .main-footer a:visited {
    color: #294C5D;
	text-decoration: none;
}

.socialMedia {
    width: 42px !important;
}

/* <--- End footer styling */

/* Begin techWriting, docDesign, and pubContent styling ---> */
.overlay {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "paneTitle"
    "sampleContainer";
    padding: 10px;
    margin: 20 0 20 0;
    cursor: initial;
}

.sampleContainer {
    display: none;
    padding: 10 10 0 10;
}

#sampleArticles > div p {
    margin-left: 10px;
}

#sampleArticles > div h4 {
    margin: 0;
}

.collapse {
    width: 10% !important;
    transition: width 1s;
    background-color: #4a4a4a;
    color: #FFFFFF;
}

.expand {
    width: 90% !important;
    transition: width .5s ease-in-out;
}

.paneTitle {
    grid-area: paneTitle;
    text-align: center;
    width: 100%;
    border-bottom: solid 2px #4a4a4a;
    padding-bottom: 10px;
    cursor: pointer;
}

.docItem {
	position: relative;
    width: 100%;
    max-width: 400px;
}

.docItem:hover .docItemOverlay {
	opacity: 1;
}

.docItemOverlay {
	position: absolute;
    bottom: 0;
	height: 33%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75); /* Black see-through */
    color: #f1f1f1;
	width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: .75em;
    text-align: center;
}

.vertical {
	grid-row: span 3;
	grid-column: span 2;
}

.horizontal {
	grid-row: span 2;
	grid-column: span 3;
}

a > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
	border: 1px solid black;
}
/* <--- End techWriting, docDesign, and pubContent styling */

/* Begin workHistory styling ---> */
.empName {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-family: "IBM Plex Sans", Helvetica, sans-serif;
	height: 100%;
	width: 100%;
	font-size: 28px;
	font-weight: bold;
	color: white;
	border-right: 5px solid white;
}

.jobBox {
	display: flex;
	position: relative;
	height: 100%;
	width: 100%;
}

.jobTitle {
	display: flex;
	align-items: center;
	font-family: "IBM Plex Sans", Helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin-left: 10px;
	height: 100%;
	width: 100%;
    cursor: pointer;
}

.jobDesc {
	position: absolute;
	bottom: 0;
    right: 0;
	opacity: 1;
	height: 80%;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.75); /* Black see-through */
	color: #f1f1f1;
	transition: 1s ease;
	color: white;
	font-size: 1em;
    cursor: pointer;
}

.empName {
    background-color: #294C5D;
}

.jobDesc p,h4 {
	margin-left: 10px;
}

.horizontalUL {
	display: flex;
	list-style-type: none;
}

.horizontalUL li {
    padding-right: 6px;
}

.jobTitle:hover {
	font-size: 32px;
}

.titleMove {
	position: relative;
	height: 20%;
	top: 0;
	transition: height .5s ease;
}

/* <--- End workHistory styling */

.textBlock {
    padding: 5 20 5 20;
}

.hide {
	display: none;
}

.show {
	display: block;
}

/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
