/* --- Page setup. ---*/
html, body {
  background-color: #FFFFFF;
  margin: 10px;
  font-size: 1.1em;
}

/* Mobile view */
.wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
	"header"
	"subtitle"
	"nav"
	"content"
	"sidebar"
	"footer";
}

/* 2-column view */
@media (min-width: 650px) {
	.wrapper {
		grid-template-columns: 1fr 3fr;
		grid-template-areas:
		  "header  subtitle"
		  "nav     nav"
		  "sidebar content"
		  "footer footer";
	}
	nav ul {
		display: flex;
		justify-content: space-between;
	}

	#banner {
		border-bottom: none !important;
	}

	.mItem {
		border: none !important;
	}
}

/* 3-column view */
@media (min-width: 900px) {
	.wrapper {
		grid-template-columns: .75fr 3.5fr 1.5fr;
		grid-template-areas:
		  "header subtitle subtitle"
		  "nav nav nav"
		  "content content sidebar"
		  "footer footer footer"
	}

	.mItem {
		border-left: 6px solid #937b3c !important;
	}
}

/* Grid area definitions ---> */
.main-head {
	grid-area: header;
	display: flex;
	justify-content: center;
    align-items: baseline;
    border-right: 3px solid #934E3C;
}
.subtitle{
	grid-area: subtitle;
	display: flex;
	align-items: center;
	color: #294C5D;
    margin-left: 20px;
}
.content {
	grid-area: content;
	margin: 0 20px 5px 20px;
}
.main-nav {
	grid-area: nav;
	display: flex;
	align-items: flex-start;
    margin-top: 10px;
	background-color: #FFF9E8;
	border: 1px solid #B8A062;
	max-height: 270px;
	min-width: 230px;
}
.side {
	grid-area: sidebar;
}

.main-footer {
	grid-area: footer;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #FFEDE8;
	border: 1px solid #B87462;
	color: #294C5D;
	font-size: 1.2em;
	font-weight: bold;
}
/* <--- End grid area definitions */

.socialMedia {
	color: #294C5D !important;
}

.socialMedia:hover {
	color: #934E3C !important;
}

.mItemSpacer {
	padding: 4px !important;
	border: none !important;
}

/* Nav menu styling ---> */
.nav-list {
	list-style-type: none;
	font-size: 24px;
    align-items: center;
    margin: 5px;
}

.nav-list li {
	border-left: 6px solid #937b3c;
	padding: 5px 0 0 5px;
	opacity: .7;
	flex: 1;
}

.mItem:hover {
	border-color: #934E3C;
	background-color: #FFD7CC;
	opacity: 1;
}

.mItem:hover a:link, .mItem:hover a:visited{
	color: #294C5D;
	font-size: 26px;
	opacity: 1;
}

.main-nav a:link, .main-nav a:visited {
    color: #937b3c;
	text-decoration: none;
}

.main-nav a:hover {
	font-size: 26px;
	color: #294C5D;
}

.sideitem {
	grid-area: sidebar;
	display: grid;
	justify-content: center;
}

.sideSpace {
	margin: 20px;
}
/* <--- End nav menu styling */

/* --- End page setup. ---*/

#banner {
	object-fit: fill;
	padding: 20px 40px 0px 20px;
}




/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
