/* Medium-width screens */
@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: .2fr 1fr .2fr;
        grid-template-areas:
        "header  header  header"
        "lSidebar content rSidebar";
    }

    .main-head {
        justify-self: center;
        width: 70%;
        left: 15%;
    }

    .about {
        grid-template-columns: 1fr .3fr;
        grid-auto-rows: 250px;
        grid-template-areas:
        "aboutMeText profilePic";
    }

    .work-philosophy {
        grid-template-columns: 1fr .2fr;
    }

    .profile-pic {
        display: block;
        margin: 10px;
        min-height: 300px;
    }

    .profile-pic img {
        object-fit: cover;
        max-height: 230px;
        max-width: 240px;
        width: 100%;
        border-radius: 200px;
    }

    .samples {
        flex-direction: row;
        justify-content: center;
    }

    .pane {
        width: 80%;
    }

    .collapse {
        width: 15% !important;
        transition: width 1s;
    }

    .job-title {
        font-size: 1.1em;
    }

    .emp-matrix {
        grid-auto-rows: 200px;
    }

    .sidebar {
        width: 100%;
    }

    .slide-container img {
        object-fit: cover;
        width: 40% !important;
        max-width: 500px !important;
    }

    .emp-box {
        display: grid;
        grid-gap: 5px;
        grid-template-columns: minmax(50px, .2fr) minmax(200px, .7fr);
        width: 100%;
    }

    .philosophy-list {
        margin-left: 20px;
    }

    .work-philosophy > .text-block {
        min-width: 330px;
    }

    .experiment-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(74,74,74,.95);
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
    }

    .experiment-box:hover .experiment-overlay {
        height: 30%;
    }
}


@media (min-width: 1200px) {

    .philosophy-list {
        min-width: 400px;
    }

}
