/* Medium-width screens */
@media (min-width: 768px) {
    .wrapper {
        grid-template-columns: .2fr 1fr .2fr;
        grid-template-areas:
        "header  header  header"
        "lSidebar content rSidebar";
    }

    .aboutMe {
        grid-template-columns: 1fr .3fr;
        grid-auto-rows: 250px;
        grid-template-areas:
        "aboutMeText profilePic";
    }

    .profilePic {
        display: block;
        margin: 10px;
        min-height: 300px;
    }

    .profilePic img {
        object-fit: cover;
        max-height: 230px;
        max-width: 240px;
        width: 100%;
    }

    .samples {
        flex-direction: row;
        justify-content: center;
    }

    .pane {
        width: 80%;
        margin: 0 0 40 0;
    }

    .collapse {
        width: 15% !important;
        transition: width 1s;
    }

    .jobTitle {
        font-size: 1.1em;
    }

    .empMatrix {
        grid-auto-rows: 200px;
    }

    .sidebar {
        width: 100%;
    }

    .slideContainer img {
        object-fit: cover;
        width: 40% !important;
        max-width: 500px !important;
    }
}
