/* 3-column view */
@media (min-width: 900px) {
	.wrapper {
		grid-template-columns: .75fr 3.5fr 1.5fr;
		grid-template-areas:
		  "header header header"
		  "nav nav nav"
		  "content content content"
		  "footer footer footer"
	}
}

#rHeader {
	border-bottom: 6px solid #294C5D;
}

#rHeader > h2 {
	margin-bottom: 10px;
}

#rHeader > h4 {
	margin-top: 0px;
	margin-bottom: 4px;
}

#rHeader > p {
	margin-top: 0px;
	margin-bottom: 6px;
}

.expColumn {
	border-left: 2px solid #294C5D;
	padding-left: 10px;
}

.expColumn p {
	padding-left: 20px;
}

#expContent {
/* TODO:  */
}
