/* 3-column view */
@media (min-width: 900px) {
	.wrapper {
		/* Two columns instead of main three. */
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		  "header header"
		  "nav nav"
		  /* sample replaces content and sidebar. */
		  "sample sample"
		  "footer footer"
	}
}

/* Grid area definitions ---> */
.sample {
	grid-area: sample;
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
	padding: 20 10 20 10;
}

/* <--- End grid area definitions */

.docItem {
	position: relative;
    width: 100%;
    max-width: 300px;
}

.docItem:hover .docItemOverlay {
	opacity: 1;
}

.docItemOverlay {
	position: absolute;
    bottom: 0;
	height: 33%;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.75); /* Black see-through */
    color: #f1f1f1;
	width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: .75em;
    text-align: center;
}

/* .horizontal {
	grid-row: span 2;
	grid-column: span 3;
} */

.vertical {
	grid-row: span 2;
	grid-column: span 1;
}

a > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
	border: 1px solid black;
}



/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
