/* 3-column view */
@media (min-width: 900px) {
	.wrapper {
		/* Two columns instead of main three. */
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		  "header header"
		  "nav nav"
		  /* sample replaces content and sidebar. */
		  "sample sample"
		  "footer footer"
	}
}

/* Grid area definitions ---> */
.sample {
	grid-area: sample;
}

.docGrid {
	display: grid !important;
	padding: 10px 10px 10px 10px;
	grid-template-columns: auto auto auto;
}
/* <--- End grid area definitions */

.docGrid > div {
	display: flex;
}

.docItem {
	text-align: center;
}

#docItem1 {
	position: relative;
    width: 100%;
    max-width: 300px;
}

#docItem1:hover #docItem1Overlay {
	opacity: 1;
}

#docItem1Text {
	width: 100%;
}

#docItem1Overlay {
	position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
	width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    text-align: center;
}

a > img {
	width: 300px;
    object-fit: fill;
	border: 1px solid black;
}



/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
