/* 2-column view */
@media (min-width: 900px) {
	.wrapper {
		/* Two columns instead of main three. */
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		  "header header"
		  "nav nav"
		  "empMatrix empMatrix"
		  "footer footer"
	}
}

/* Grid area definitions ---> */
.empMatrix {
 	grid-area: empMatrix;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
	grid-auto-rows: auto-fit;
	padding: 20 10 20 10;
	background-color: #3f87a6;
}

.empBox {
	display: grid;
	grid-template-columns: 256px auto auto;
	grid-auto-rows: auto-fit;
	background-color: #fff4e6;
	align-items: stretch;
	height: 100%;
	width: 100%;
}
/* <--- End grid area definitions */

.empImage {
	display: flex;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: red;
}

.jobTitle {
	display: flex;
	align-items: center;
	background-color: green;
	margin: 10 0 10 10;
	padding: 10px;
}

.dropDown {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
	font-size: 2em;
	background-color: yellow;
}

.dropDownBox {
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	height: 15%;
	width: 100%;
	background-color: orange;
}

.dropDownBox:hover {
	opacity: .6;
}

#jobDesc1 {
	display: none;
	color: white;
	background-color: black;
}

.jobDesc {
	display: none;
	color: white;
	background-color: black;
}

/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
