/* 2-column view */
@media (min-width: 900px) {
	.wrapper {
		/* Two columns instead of main three. */
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		  "header header"
		  "nav nav"
		  /* sample replaces content and sidebar. */
		  "sample sample"
		  "footer footer"
	}
}

/* Grid area definitions ---> */
.sample {
	grid-area: sample;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
	grid-auto-rows: 100px;
	grid-auto-flow: dense;
	padding: 20 10 20 10;
}

/* <--- End grid area definitions */

.docItem {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(100px, .5fr));
	grid-auto-rows: 200px;
	grid-auto-flow: row;
    width: 100%;
}

/* .horizontal {
	grid-row: span 2;
	grid-column: span 3;
}

.vertical {
	grid-row: span 4;
	grid-column: span 3;
} */
.jobDesc {
	padding-left: 10px;
	background: rgba(41, 76, 93, 0.15); /* Black see-through */
}

.square {
	grid-row: span 2;
	grid-column: span 6;
}

.employer {
	display: flex;
	background-color: #FFEDE8;
	height: 100%;
	justify-content: center;
	align-items: baseline;
}

.employer > h1 {
	color: #294C5D;
	font-size: 4em;
	margin: 0;
}

a > .employer:hover {
	opacity: .6;
}

a > img {
	width: 100%;
    height: 100%;
    object-fit: cover;
	border: 1px solid black;
}

/* http://paletton.com/#uid=33s0u0kaqr-2VJZ6nwCf1n5iSit */
