@tailwind base;

/* html{
  @apply bg-white;
} */

h1 {
  @apply text-3xl; 
  @apply font-extrabold; 
  @apply leading-loose; 
  @apply mb-4;
}

h2 {
  @apply text-2xl; 
  @apply font-extrabold; 
  @apply leading-loose; 
  @apply mb-4;
}

h3 {
  @apply text-2xl; 
  @apply leading-loose; 
  @apply mb-4;
  @apply uppercase;
}

h4 {
  @apply text-xl; 
  @apply font-extrabold; 
  @apply leading-loose; 
  @apply mb-4;
}

p {
  @apply text-xl; 
  @apply leading-snug; 
}

.gradient-bar {
  background: rgb(102,171,104);
  background: linear-gradient(90deg, rgba(102,171,104,1) 2%, rgba(150,104,127,1) 50%, rgba(38,50,56,1) 98%);  
}

.gradient-bar-bg {
  background: rgb(102,171,104);
  background: linear-gradient(90deg, rgba(102,171,104,.2) 2%, rgba(150,104,127,.2) 50%, rgba(38,50,56,.2) 98%); 
}

.router-link-exact-active {
  background: #18151c;
  color: #f8f8f8 !important;
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Oswald|Playfair+Display|&display=swap');