@tailwind base;

h1 {
  @apply text-3xl; 
  @apply font-extrabold; 
  @apply leading-loose; 
  @apply mb-4;
}

h2 {
  @apply text-2xl; 
  @apply font-extrabold; 
  @apply leading-loose; 
  @apply mb-4;
}

h3 {
  @apply text-xl; 
  @apply leading-loose; 
  @apply mb-4;
  @apply uppercase;
}

h4 {
  @apply text-xl; 
  @apply font-extrabold; 
  @apply leading-loose; 
  @apply mb-4;
}

p {
  @apply text-xl; 
  @apply leading-snug; 
}

.gradient-bar {
  background: rgb(0,153,255);
  background: linear-gradient(90deg, rgba(0,153,255,1) 2%, rgba(161,205,227,1) 40%, rgba(153,153,153,1) 60%, rgba(51,51,51,1) 80%, rgba(0,0,0,1) 98%); 
}

.gradient-bar-bg {
  background: rgb(0,153,255);
  background: linear-gradient(90deg, rgba(0,153,255,.2) 2%, rgba(161,205,227,.2) 40%, rgba(153,153,153,.2) 60%, rgba(51,51,51,.2) 80%, rgba(0,0,0,.2) 98%); 
}

@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Lato:400,900|Oswald|Playfair+Display|&display=swap');