/* =====================================
Import font families from Google Fonts. 
===================================== */
@import url("https://fonts.googleapis.com/css?family=Montserrat|IBM+Plex+Mono|IBM+Plex+Sans&display=swap");

/* =====================================
Register Tailwind CSS classes. 
===================================== */

@tailwind base;
@tailwind components;

.btn {
  @apply px-5 py-2 rounded;
}

@tailwind utilities;

/* =====================================
ABOUT MY USE OF CSS GRID AND TAILWINDCSS 
===================================== */

/* 

I enjoy using TailwindCSS with .vue files because it gives an immediacy to the code. I don't have to reference another file to see what's happening at the presentation layer.

With Tailwind, that association is very close. However, I also want to use CSS Grid for layout. To keep things clear, I'll set some ground rules.

1. /css/main.css is only for truly global classes that can't be applied in Tailwind for some reason (for example, background gradients).
2. All component CSS is defined in the component's .vue file, including any CSS Grids.

*/

/* =====================================
TYPOGRAPHY
===================================== */

html,
.root {
  font-size: 24px;
  line-height: 18px;
}
body,
.article {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
h1,
.h1 {
  font-size: 2.35em;
  line-height: 1.27659574em;
  margin-top: 0.31914894em;
  margin-bottom: 0.63829788em;
}
h2,
.h2 {
  font-size: 1.8em;
  line-height: 1.25em;
  margin-top: 0.41666667em;
  margin-bottom: 0.41666667em;
}
h3,
.h3 {
  font-size: 1.35em;
  line-height: 1.11111111em;
  margin-top: 0.55555556em;
  margin-bottom: 0em;
}
h4,
.h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0em;
}
h5,
.h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 0.75em;
  margin-bottom: 0em;
}
p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0em;
  margin-bottom: 0.75em;
}
ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0em;
  margin-bottom: 0em;
}
hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}
a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}

/* =====================================
TRANSITIONS AND TRANSFORMATIONS
===================================== */

.skew {
  transform: skewX(-30deg);
}

.skew-reset {
  transform: skewX(30deg);
}

.reverse-skew {
  transform: skewX(30deg);
}

.reverse-skew-reset {
  transform: skewX(-30deg);
}

.flip-h {
  transform: rotateX(180deg);
}

.slide-left-leave-active,
.slide-left-enter-active,
.slide-right-leave-active,
.slide-right-enter-active {
  transition: 1s;
}
.slide-left-enter,
.slide-right-leave-to {
  transform: translate(100%, 0);
}
.slide-left-leave-to,
.slide-right-enter {
  transform: translate(-100%, 0);
}

.expand-enter-active,
.expand-leave-active {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.expand-enter,
.expand-leave-to {
  height: 0;
}

/* =====================================
CSS THEME VARIABLES
===================================== */

/* These variables are exposed in tailwind.js. They allow for on-the-fly switching between themes. */

.dark {
  --color-bg-primary: #edf0e9;
  --color-bg-primary-soft: #4a6173;
  --color-bg-secondary: #7d7c90;
  --color-bg-tertiary: #d0a77e;
  --color-bg-default: #2a3741;
  --color-bg-accent: #cc4162;

  --color-border-primary: #edf0e9;
  --color-border-primary-soft: #4a6173;
  --color-border-secondary: #7d7c90;
  --color-border-tertiary: #d0a77e;
  --color-border-default: #2a3741;
  --color-border-accent: #cc4162;

  --color-text-primary: #edf0e9;
  --color-text-primary-soft: #4a6173;
  --color-text-secondary: #7d7c90;
  --color-text-tertiary: #d0a77e;
  --color-text-default: #2a3741;
  --color-text-accent: #cc4162;
}

.light {
  --color-bg-primary: #a8bac7;
  --color-bg-primary-soft: #ced2bc;
  --color-bg-secondary: #7d7c90;
  --color-bg-tertiary: #d0a77e;
  --color-bg-default: #edf0e9;
  --color-bg-accent: #cc4162;

  --color-border-primary: #2a3741;
  --color-border-primary-soft: #ced2bc;
  --color-border-secondary: #7d7c90;
  --color-border-tertiary: #d0a77e;
  --color-border-default: #edf0e9;
  --color-border-accent: #cc4162;

  --color-text-primary: #2a3741;
  --color-text-primary-soft: #ced2bc;
  --color-text-secondary: #7d7c90;
  --color-text-tertiary: #d0a77e;
  --color-text-default: #2a3741;
  --color-text-accent: #cc4162;
}
