<!doctype html>
<html lang="en">
  <head>
    <template data-kbr-include="partials/head.html"></template>
    <template data-kbr-assets="head"></template>
  </head>
  <body>
    <template data-kbr-include="partials/header.html"></template>
    <main class="blog-post-layout">
      <aside class="blog-toc-sidebar">
        <div class="blog-toc-sticky-container">
          <template data-kbr-if="series">
            <kbr-post-series
              series-name="{{series.name}}"
              current-part="{{series.part}}"
            >
            </kbr-post-series>
          </template>
          <kbr-table-of-contents></kbr-table-of-contents>
          <template data-kbr-if="tagsHtml" data-kbr-html="tagsHtml"></template>
        </div>
      </aside>
      <article class="blog-post-content glass-surface">
        <template data-kbr-slot="content"></template>
        <kbr-supplement-list></kbr-supplement-list>
        <div class="blog-citations-container" data-kbr-if="citationsHtml">
          <template data-kbr-html="citationsHtml"></template>
        </div>

        <kbr-anchor-copy></kbr-anchor-copy>
      </article>
    </main>
    <template data-kbr-include="partials/footer.html"></template>
    <template data-kbr-assets="body"></template>
  </body>
</html>
