<!doctype html>
<html lang="en">
  <head>
    <template data-kbr-include="partials/head.html"></template>
    <template data-kbr-assets="head"></template>
  </head>
  <body>
    <template data-kbr-include="partials/header.html"></template>
    <main class="blog-post-layout">
      <aside class="blog-toc-sidebar">
        <div class="blog-toc-sticky-container">
          <template data-kbr-if="series">
            <template data-kbr-include="partials/post-series.html"></template>
          </template>
          <kbr-table-of-contents></kbr-table-of-contents>
          <template data-kbr-include="partials/blog-tags.html"></template>
        </div>
      </aside>
      <article class="blog-post-content glass-surface">
        <h1 id="{{titleAnchorId}}">{{title}}</h1>
        <template data-kbr-include="partials/blog-metadata.html"></template>
        <template data-kbr-slot="content"></template>
        <template data-kbr-if="supplements">
          <template data-kbr-include="partials/supplement-list.html"></template>
        </template>
        <template data-kbr-include="partials/blog-citations.html"></template>

        <kbr-anchor-copy></kbr-anchor-copy>
      </article>
    </main>
    <template data-kbr-include="partials/footer.html"></template>
    <template data-kbr-assets="body"></template>
  </body>
</html>
